@tailwind base;
@tailwind components;
@tailwind utilities;

li, ul, li::marker {
    appearance: none;
    list-style-type: none;
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

.sidebar-selects {
    font-weight: 400;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.sidebar-selects > li {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar-selects > li > ul:not(.extra-select) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px;
}

.sidebar-selects h2 {
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
    color: rgb(108 108 108);
}

.sidebar-selects h3 {
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    color: rgb(43 43 43);
}

.extra-select {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.extra-select > li {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.extra-select > li > ul {
    gap: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.checkbox {
    background: white;
}

.checkbox:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7.375 12.5 3.75 3.75 7.5-7.55' stroke='%231E4BD2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); 
    /* background-color: #1E4BD2; */
}